/* app css stylesheet */
div.page_content{
	margin-bottom: 20px;
}
.row {
	margin-top: 10px;
}

nav.navbar{
	border-radius: 0px;
}

.score_area p{
	text-align: center;
	font-size: 2em;
}

.alert .glyphicon{
	font-size: 2em;
	vertical-align: middle;
}
.word_container {
	font-size: 4em;
	font-weight: bold;
	text-align: center;
	padding: 40px;
	position: relative;
}

.word {
	border: 2px solid #cccccc;
	border-radius: 5px;
	display: inline-block;
	width: 2em;
	margin: 10px 20px;
}

.user_input {
	font-size: 2em;
	height: 100px;
}

.result_container {
	text-align: center;
}

.result_word {
	margin: 10px 50px 10px 5px;
	display: inline-block;
	vertical-align: middle;
}

.result_word_item {
	border: 2px solid #cccccc;
	font-size: 1.5em;
	width: 30px;
	height: 30px;
	text-align: center;
	display: inline-block;
}

.word_relative_items{
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 0;
}

.my_animation {
	transition: all linear 0.5s;
}

.my_animation.ng-hide {
	opacity: 0;
}

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.repeated-item.ng-enter, .repeated-item.ng-move {
	transition: all 0.5s linear;
	opacity: 0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.repeated-item.ng-enter.ng-enter-active, .repeated-item.ng-move.ng-move-active {
	opacity: 1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
	animation: 0.5s my_animation;
}

@keyframes my_animation {
	from { opacity:1; }
	to { opacity: 0; }
}